<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sergei_items>
            <general>
                <enabled>0</enabled>
                <cron_expression>*/5 * * * *</cron_expression>
            </general>
        </sergei_items>
    </default>
</config>