<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="boangri_sergei_item_save_after">
        <observer name="sergei_add_item" instance="Boangri\Sergei\Observer\ItemAddition" />
    </event>
</config>
