<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Boangri_Sergei::items" title="Sergei Items"
             module="Boangri_Sergei" resource="Boangri_Sergei::items"
             translate="title" sortOrder="900" action="sergei_items"/>
    </menu>
</config>
